Source: nginx
Section: httpd
Maintainer: Fei Yang <io@feiyang.eu.org>
Build-Depends: debhelper-compat (= 13)
Homepage: https://nginx.org

Package: nginx
Architecture: any
Provides: httpd, httpd-cgi
Homepage: https://nginx.org
Description: small, powerful, scalable web/proxy server
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
