#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DESTDIR=$(CURDIR)/debian/nginx

clean:
	rm -fr ./debian/nginx

install:
	rm -fr ./debian/nginx/usr/sbin/nginx
	install -Dm644 ../../conf/nginx.service $(DESTDIR)/usr/lib/systemd/system/nginx.service
	$(MAKE) -C ../core --trace install DESTDIR=$(DESTDIR)

binary: clean install
	dh binary

.PHONY:
